{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1> Расписание группы БУТ1801 </h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Предмет</th>
      <th>Домашнее задание</th>
      <th>Выполнено</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ Timetable.subject }}</td>
      <td>{{ Timetable.homework }}</td>
      <td>{{ Timetable.submit() }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}